@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --blue: #0fa;
  --yellow: rgb(255, 0, 0);
  --orange: rgb(255, 166, 0);
}

body {
  background-image: url("/src/images/magic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  background-color: white;
  font-family: 'Knewave', cursive;
  backdrop-filter: brightness(30%);
}

.root {
  width: 100vw;
  height: 100vh;
}

.mainDiv {
  margin: 1%;
}

.calc-structure {
  display: flex;
  flex-direction: column;
  margin: 5% 5%;
  width: 450px;
  height: auto;
  box-shadow: 0 0 60px 30px rgb(144, 144, 144),
    0 0 100px 60px rgba(255, 187, 0, 0.411),
    0 0 100px 90px rgba(0, 255, 255, 0.294);
}

.screen {
  background-color: #858693;
  color: white;
  padding: 4% 3%;
  text-align: right;
  font-size: 25px;
  overflow: auto;
  text-shadow: 0 0 7px rgb(223, 223, 223), 0 0 10px rgb(221, 221, 221),
    0 0 21px rgb(218, 218, 218), 0 0 42px var(--orange), 0 0 82px var(--orange),
    0 0 92px var(--orange), 0 0 102px var(--orange), 0 0 151px var(--orange);
}

button {
  background: none;
  padding: 15% 1%;
  border: solid 0.001mm rgb(185, 185, 185);
  font-weight: bold;
  cursor: pointer;
  font-family: 'Creepster', cursive;
  font-size: 20px;
  color: #fff;
  text-shadow: 0 0 7px rgb(200, 200, 200), 0 0 10px rgb(214, 214, 214),
    0 0 21px rgb(221, 221, 221), 0 0 42px var(--blue), 0 0 82px var(--blue),
    0 0 92px var(--blue), 0 0 102px var(--blue), 0 0 151px var(--blue);
}

button:hover {
  color: #ffae00;
  text-shadow: 0 0 7px rgb(161, 161, 161), 0 0 10px rgb(141, 141, 141),
    0 0 21px rgb(146, 146, 146), 0 0 42px var(--orange), 0 0 82px var(--orange),
    0 0 92px var(--orange), 0 0 102px var(--orange), 0 0 151px var(--orange);
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.orange {
  background-color: #f5903ee7;
}

.gray {
  background-color: #e0e0e0e5;
}

#zero {
  grid-column-start: 1;
  grid-column-end: 3;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 3%;
  border-bottom: solid 0.5px gray;
  font-family: 'Creepster', cursive;
  font-size: 30px;
  letter-spacing: 2px;
}

span,
.navli span {
  padding-right: 10px;
  text-decoration: none;
}

nav h1,
.navUl span {
  color: rgb(66, 61, 61);
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px var(--blue),
    0 0 82px var(--blue), 0 0 92px var(--blue), 0 0 102px var(--blue),
    0 0 151px var(--blue);
}

.navUl span:hover {
  color: #f00;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px var(--yellow), 0 0 82px var(--yellow), 0 0 92px var(--yellow),
    0 0 102px var(--yellow), 0 0 151px var(--yellow);
}

.navUl {
  display: flex;
  flex-direction: row;
  list-style: none;
  list-style-type: none;
}

nav h1 {
  font-size: xx-large;
}

.home {
  padding: 3% 3%;
}

.home h2,
p {
  padding: 0 0 3%;
}

.home p {
  font-size: medium;
  line-height: 50px;
}

.layout {
  padding: 3% 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.layout h3 {
  font-size: 48px;
  color: #fff;
  text-shadow: 0 0 7px rgb(161, 161, 161), 0 0 10px rgb(141, 141, 141),
    0 0 21px rgb(146, 146, 146), 0 0 42px var(--orange), 0 0 82px var(--orange),
    0 0 92px var(--orange), 0 0 102px var(--orange), 0 0 151px var(--orange);
  text-align: center;
}

.quote {
  margin: 15% 20%;
}

.quote p {
  font-size: 50px;
}
